<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<title>Adnan Blog</title>
</head>
<body>
	<header class="container center-align">
		<h2>Adnan Mohib </h2>
	</header>
	<div class="container center-align"><a href="/" class="btn green">Start</a></div>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	<h4 class="container center-align"><a href="/admin" class="btn red">Admin Login</a></h4>
</body>
</html>